*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.xml
ipch/
obj/
*tlog
*vsidx
CosmoSpaceShip/.vs/
CosmoSpaceShip/CosmoSpaceShip/Release
CosmoSpaceShip/CosmoSpaceShip/x64
*.exe
*.pdb
